*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #f2f2f2f2;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

a{
    text-decoration: none;
}

.gallry{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content{
    width: 20%;
    margin: 15px;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25) , 0 10px 10px rgba(0, 0, 0, .22);
    transition: .4s;
    background: #f2f2f2f2;
}

.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16) , 0 3px 6px rgba(0, 0, 0, .23);
    transform: translate(0px , -8px);
}

img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}

h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0
}

li{
    padding-top: 5px
}

.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}

.checked{
    color: #ff9f43;
}

.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}

button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1{
    background: #00457E;
}

.buy-2{
    background: #B9848C;
}

.buy-3{
    background: #806491;
}

.buy-4{
    background: #2F70AF;
}

@media(max-width:1000px){
    .content{
        width: 45%;
    }
}

@media(max-width:750px){
    .content{
        width: 100%;
    }
}